.cartCard_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    max-height: 100vh;
    overflow-y: scroll;
    /* padding: 0 25px; */
    
}

.cartCard_ItemName {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    width: 210px;   
}

.add_button {
    display: flex;
    border: 1px solid rgb(212, 213, 217);
    align-items: center;
    padding: 5px 5px;
    justify-content: space-between;
    width: 70px;

}

.cartCard_ItemCount {
    font-size: 13px;
    color: green;
}

.cartCard_price {
    font-size: 13px;
    color: #535665;
    font-weight: 300;
}