.card_container {
    padding: 20px;
    padding: 20px 20px 27px;
    border: 1px solid transparent;
    contain: content;
    width: 24%;
    cursor: pointer;

}

.card_container:hover {
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.card_container>img {
    width: 100%;
    height: 160px;
}

.card_heading {
    font-size: 17px;
    font-weight: 500;
    word-break: break-word;
    margin-top: 15px;
}

.card_description {
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
    font-weight: 300;
    line-height: 1.15;
}

.card_info {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    padding: 2px;
    align-items: center;
}

.rating {
    height: 20px;
    width: 42px;
    background-color: #48c479;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3px;

}
.rating_color_below4 {
    background-color: #DB7C38;
}

.rating .text {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}

.dot {
    color: #535665;
    font-size: 12px;
}

.price,
.time {
    color: #535665;
    font-size: 12px;
}

.card_container>hr {
    margin-top: 14px;
    color: #e9e9eb;
}

.offers {
    display: flex;
    align-items: center;
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    margin-top: 14px;
    color: #8a584b;
    font-weight: 600;
}

.offer_description {
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    line-height: 1.2;
    color: #8a584b;
    padding-left: 6px;

}

.quickView {
    color: #5D8ED4;
    border-top: 1px solid #e9e9eb;
    margin-top: 14px;
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    opacity: 0;
}

