.timeAndCost {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #3e4152;
    font-size: 15px;
    font-weight: 700;
    margin-top: 18px;
}
.time {
    margin: 0 20px 0 7px;
    padding-bottom: 3px;
}

.cost {
    margin: 0 0 0 7px;
    padding-bottom: 3px;
}