.home_container {
    height: 100vh;
}


.navbar {
    background-color: rgb(247, 246, 246);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}

.nav_buttons {
    display: flex;
    align-items: center;
}

.swiggy_logo>img {
    height: 70px;
    padding: 10px;
}


.login {
    padding: 0 2rem;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    /* display: inline-block; */
    text-align: center;
    border: none;
    margin: 14px;
}

.signup {
    padding: 0 2rem;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    color: white;
    background-color: black;
    margin: 14px;
}

.cart_button {
   
    cursor: pointer;
    padding-right: 10px;

}

.cart_button_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3D4152;
    height: 40px; 
}

.cart_logo {
    display: flex;
    position: relative;
}

.cart_text {
    font-weight: 520;
    font-size: 18px;
    padding-left: 5px;
}

.cart_quantity {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-54%, -48%);
    font-size: 13px;
    font-weight: 500;


}

.cart_logo:first-child {
   
}