.skeletonContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 18px;
    width: 100%;
    padding: 0 1%;  
    margin-top: 1%;
}

.fourCards {
    padding: 0 8%;
    position: relative;
    bottom: 55px;
}