.sidenav {
    height: 100%;
    width: 558px;
    position: fixed;
    z-index: 110;
    top: 0;
    right: -570px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-right: 150px;
    padding-left: 50px;
    padding-top: 30px;
}

.drawer_open {
    right: 0px;

}


.navlogin {
    font-size: 30px;
    font-weight: 500;
    margin-top: 25px;
}

.create_acc {
    margin-top: 10px;
}

.create_acc>span {
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
}

.create_acc .createAnAccount {
    text-decoration: none;
    color: #fc8019;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    margin-left: 5px;

}


.loginFood>img {
    position: absolute;
    top: 50px;
    right: 140px;
    width: 120px;
    height: 125px;
    z-index: 1;
}

.loginInput {
    margin-top: 5px;
    padding-top: 70px;
    position: relative;
}

.loginInput input {

    background-color: transparent;
    border: 1px solid #d4d5d9;
    outline: none;
    height: 70px;
    font-size: 17px;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    font-weight: 500;
    padding: 0 40px 0 20px;
    width: 350px;

}

.loginInput .invalidPhoneNumber {
    color: rgb(250, 75, 92);
    font-size: 12.5px;
    position: absolute;
    left: 3.5%;
    bottom: 34%;
}

.loginInput .userNotFound {
    color: rgb(250, 75, 92);
    font-size: 13.5px;
}

.loginButton {
    margin-top: 23px;
}

.loginButton button {
    width: 350px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    line-height: 50px;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    padding: 0 2rem;
    color: #fc8019;
    letter-spacing: 0;
    color: #fff;
    background-color: #fc8019;
    text-transform: uppercase;
}

.terms {
    font-size: 12px;
    color: #686b78;
    margin-top: 6px;
    font-weight: 500;
}

.cross {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.cross:before,
.cross:after {
    content: "";
    position: absolute;
    width: 1.3px;
    height: 100%;
    background-color: #535665;
}

.cross:before {
    transform: rotate(45deg);
    top: 0;
    left: calc(50% - 1px);

}

.cross:after {
    transform: rotate(-45deg);
    top: 0;
    right: calc(50% - 1px);
}